@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');  
*{
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Nunito', sans-serif;
  color: white;
}
:before, *:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #090F1E;
}

.header{
    display: flex;
    justify-content: center;
}

header{
    width: 95vw;
    height: 7vh;
    background-color: #151C30;
    border-radius: 2vh;
    margin-top: 1rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: fixed;
}

.logo-container{
    margin-top: 3rem;
    position: fixed;
}

.logo-container svg{
    height: 25vh;
    width: 25vw;
}
.logo-container svg{
    height: 50vh;
    width: 50vh;
}

.search-bar-container{
  background-color: #151C30;
  width: 17vw;
  margin-top: 3vh;
  margin-left: 2.5vw;
  border-radius: 2vh;
  height: 7vh;
}

.search-bar{
  padding-left: 1vw;
  padding-top: 1.7vh;
}

.search-bar input{
  background-color: #151C30;
  width: 13vw;
}

.search-bar i{
  color: #2c395b;
}

.profile_photo img{
  height: 15vh;
  width: 15vh;
  border-radius: 100%;
  margin-left: 5vw;

}

.profile{
  background-color: #151C30;
  width: 17vw;
  margin-top: 3vh;
  margin-left: 2.5vw;
  border-radius: 2vh;
  height: 33vh;
  text-align: center;
  padding-top: 2.5vh;
}

.username{
  margin-top: 1vh;
}

.username a{
  font-weight: bolder;
  font-size: 3vh;
  font-style: italic;
  margin-right: 1vh;
  margin-top: 1vh;
}

.username i{
  font-weight: bolder;
  font-size: 3vh;
  color: white;
}

.balance-container{
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}

.main-cash-balance a,i{
  color: #B7B6B4;
}

.main-cash-balance p{
  font-weight: bolder;
}

.bonus-container a,i{
  color: #B7B6B4;
}

.bonus-container p{
  font-weight: bolder;
}

.my-tickets-button-container{
  background-color: #151C30;
  width: 17vw;
  margin-top: 3vh;
  margin-left: 2.5vw;
  border-radius: 2vh;
  text-align: center;
  height: 8vh;
}

.my-tickets-button button{
  background-color: #222c46;
  width: 15vw;
  height: 5vh;
  margin-top: 1.3vh;
  border-radius:1.5vh;
  font-weight: bolder;
  text-shadow: 1px 1px 4px #FFF;
}

.deposit-button button{
  background-color: #1eaf5c;
  width: 15vw;
  height: 5vh;
  margin-top: 1.3vh;
  border-radius:1.5vh;
  font-weight: bolder;
  text-shadow: 1px 1px 4px #FFF;
}

.withraw-button button{
  background-color: #222c46;
  width: 15vw;
  height: 5vh;
  margin-top: 2vh;
  border-radius:1.5vh;
  font-weight: bolder;
  text-shadow: 1px 1px 4px #FFF;
}

.deposit-withraw-buttons-container{
  background-color: #151C30;
  width: 17vw;
  margin-top: 3vh;
  margin-left: 2.5vw;
  border-radius: 2vh;
  text-align: center;
  height: 15vh;
}

.how-top-play-button-container{
  background-color: #151C30;
  width: 17vw;
  margin-top: 3vh;
  margin-left: 2.5vw;
  border-radius: 2vh;
  text-align: center;
  height: 8vh;
}

.how-top-play-button button{
  background-color: #222c46;
  width: 15vw;
  height: 5vh;
  margin-top: 1.3vh;
  border-radius:1.5vh;
  font-weight: bolder;
  text-shadow: 1px 1px 4px #FFF;
}